.git
.gitignore
.idea
.venv

.env
.env.*
!.env.sample

__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

online_cinema.db
*.sqlite
*.sqlite3

Dockerfile*
docker-compose*.yml
compose*.yml

README.md
