DATABASE_URL=sqlite+aiosqlite:///./online_cinema.db

CELERY_BROKER_URL=redis://localhost:6379/0

SMTP_HOST=localhost
SMTP_PORT=1025
MAIL_FROM=noreply@online-cinema.local

JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_ALGORITHM=HS256
