DATABASE_URL=sqlite+aiosqlite:///./online_cinema.db
LOGIN_TIME_DAYS=7

CELERY_BROKER_URL=redis://localhost:6379/0

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_FROM=noreply@online-cinema.local

STRIPE_SECRET_KEY=change-this-stripe-secret-key
STRIPE_WEBHOOK_SECRET=change-this-stripe-webhook-secret
STRIPE_SUCCESS_URL=http://localhost:8000/api/v1/payments/success?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:8000/api/v1/payments/cancel
STRIPE_CURRENCY=usd

SECRET_KEY_ACCESS=change-this-access-secret
SECRET_KEY_REFRESH=change-this-refresh-secret
JWT_SIGNING_ALGORITHM=HS256
